# Token del Bot #1: El Publicador (Suministrado por @BotFather)
BOT1_TOKEN=aqui_va_tu_token_del_bot_1

# Token del Bot #2: El Explorador (Suministrado por @BotFather)
BOT2_TOKEN=aqui_va_tu_token_del_bot_2

# ID del Canal de Telegram donde se publicarán los enlaces (-100...)
CHANNEL_ID=aqui_va_el_id_del_canal

# Tu ID de Administrador (para recibir alertas de baneos, etc)
ADMIN_ID=aqui_va_tu_id

# El puerto donde corre la MiniApp localmente (siempre 3000 por defecto para este bot)
PORT=3000

# URL final de la MiniApp que registrarás en Telegram BotFather
# (ejemplo: si lo alojas o usas ngrok -> https://tudominio.com)
WEBAPP_URL=https://tudominio.com
